<div class="btn-group">
  {{#link-to "salsas.salsa.index" model class="btn btn-default"}}salsa id {{model.id}}{{/link-to}}
  {{#link-to "salsas.salsa.edit" model class="btn btn-default"}}edit salsa id {{model.id}}{{/link-to}}
  {{#link-to "salsas.salsa.histories" model class="btn btn-default"}}
    histories
  {{/link-to}}
</div>
{{outlet}}