{{#each fields as |field|}}
  {{#if field.contDisplay}}
    <div class="autox-collection-for__block">
      <strong class="autox-show-for__label">{{field.label}} - </strong>
      <small class="autox-show-for__content">
        {{#if field.isRelationship}}
          {{get model (concat field.name "." field.proxyKey)}}
        {{else}}
          {{txt (get model field.name) type=field.type formatter=field.presenter}}
        {{/if}}
      </small>
    </div>
  {{/if}}
{{/each}}