<span class="badge">&#x22C7;</span>
<strong class="autox-show-for__action-label list-group-item-heading">{{field.label}}</strong>
<small class="autox-show-for__action-description">{{field.description}}</small>