<div class="btn-group">
  {{#link-to "shops.shop.index" model class="btn btn-default"}}shop id {{model.id}}{{/link-to}}
  {{#link-to "shops.shop.edit" model class="btn btn-default"}}edit shop id {{model.id}}{{/link-to}}
  {{#link-to "shops.shop.histories" model class="btn btn-default"}}
    histories
  {{/link-to}}
</div>
{{outlet}}