<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 id="title">Welcome to Autox</h2>
        <p>A pretty spiffy rich application framework built on ember and phoenix</p>
        {{#if session.isAuthenticated}}
          <small class="has-session">You are logged in!</small>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
