{{#if session.isAuthenticated}}
  {{#link-to "user"}}Already Logged in{{/link-to}}
  <button id="logout" {{action "attemptLogout"}}>Log Out</button>
{{else}}
  <button id="login" {{action "attemptLogin"}}>Login</button>
{{/if}}

{{#link-to "shops" class="btn btn-lg btn-success"}}
  Shops
{{/link-to}}

{{#link-to "salsas" class="btn btn-lg btn-info"}}
  salsas
{{/link-to}}