<div class="btn-group">
  {{#link-to "salsas.index" class="btn btn-default"}}salsas index{{/link-to}}
  {{#link-to "salsas.new" class="btn btn-default"}}new salsa{{/link-to}}
</div>
<div class="list-group">
  <div class="list-group-item">
    meta count
    <span class="badge">{{model.meta.count}}</span>
  </div>
</div>
<div class="load-more">
  {{#link-to "salsas.index" (query-params pageOffset=paginate.prevPage) class="btn btn-lg btn-default"}}
    Prev
  {{/link-to}}
  {{input id="page-limit"
    value=paginate.ctrl.pageLimit 
    type="number" 
    enter=(action (mut paginate.ctrl.pageLimit))}}
  {{#link-to "salsas.index" (query-params pageLimit=paginate.ctrl.pageLimit) class="btn btn-default"}}
    Change Page Limit
  {{/link-to}}
  {{#link-to "salsas.index" (query-params pageOffset=paginate.nextPage) class="btn btn-lg btn-default"}}
    Next
  {{/link-to}}
</div>
{{outlet}}