<div class="btn-group">
  {{#link-to "shops.index" class="btn btn-default"}}shops index{{/link-to}}
  {{#link-to "shops.new" class="btn btn-default"}}new shop{{/link-to}}
</div>
<div class="load-more">
  {{#link-to "shops.index" (query-params pageOffset=paginate.prevPage) class="btn btn-lg btn-default" id="prev-page"}}
    Prev
  {{/link-to}}
  {{input id="page-limit"
    value=paginate.ctrl.pageLimit 
    type="number" 
    enter=(action (mut paginate.ctrl.pageLimit))}}
  {{#link-to "shops.index" (query-params pageLimit=paginate.ctrl.pageLimit) class="btn btn-default" id="page-limit-change"}}
    Change Page Limit
  {{/link-to}}
  {{#link-to "shops.index" (query-params pageOffset=paginate.nextPage) class="btn btn-lg btn-default" id="next-page"}}
    Next
  {{/link-to}}
</div>
{{outlet}}